<div class="container">
  <div class="answer-box pl-4">
    <p>YOU: </p>
    <p><%= params[:answer] %></p>
  </div>
  <p></p>
  <div class="answer-box pl-4">
    <p>YOUR COACH: </p>
    <p><%= @answer %></p>
  </div>
  <button type="submit" class="btn btn-primary">Ask another Question</button>
</div>
