<div class="container d-flex justify-content-center">
  <form  action="/answer" method="get">
    <div class="form-inline">
      <input id="input-field" class="form-control" type="text" name="answer">
      <button type="submit" class="btn btn-primary">Ask your coach!</button>
    </div>
  </form>
</div>
